<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Home
        {% endblock title %}
    </title>
</head>
<body>
<!--uses blocks for each page for easy to input and change-->
<h1>
    {% block header%}
    Home
    {% endblock header %}
</h1>

{% block content %}
{{lastpage}}
{% endblock content %}
<!--needs to have links in blocks otherwise they will all stay the same-->
{% block links %}
<br>
<a href="{% url 'home' 'Home'%}">Home</a>
<a href="{% url 'page2' 'Home' %}">page: 2</a>
<a href="{% url 'page3' 'Home' %}">page: 3</a>
<a href="{% url 'page4' 'Home' %}">page: 4</a>
<a href="{% url 'page5' 'Home' %}">page: 5</a>
{% endblock links %}
</body>
</html>